.center{
    display: flex;
    justify-content: center;
}
.help-dima{
    background-color: black;
    
    
  

 }
 .help-dima-animation-1{
    animation: helpHelp1 5s ;
}
.help-dima-animation-2{
    animation: helpHelp2 5s ;
}
.help-dima-animation-3{
    animation: helpHelp3 5s ;
}
.help-dima-animation-4{
    animation: helpHelp4 5s ;
}
.help-dima-animation-5{
    animation: helpHelp5 5s ;
}
@keyframes helpHelp1{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    
    100%{
        opacity: 1;
    }
 }
 @keyframes helpHelp2{
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    
    100%{
        opacity: 1;
    }
 }
 @keyframes helpHelp3{
    0%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    
    100%{
        opacity: 1;
    }
 }
 @keyframes helpHelp4{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    
    100%{
        opacity: 1;
    }
 }
 @keyframes helpHelp5{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
 }
 

 

